h1 { text-align: center;
	color: darkblue;
	text-align: ;
}
h2 { text-align: center;
	color: darkblue;
}
h3 { text-align: center;
	color: darkblue;
}
p{
	background-color: skyblue ;
}
body {
	font-family:Roboto,sans-serif ;
    background-color: skyblue
}
img {
	height: 400px ;
}